<div class="container">
    <img align="justify" src ="1.jpg"  alt="Example Image"  height="350">
    <div class="row">
        <div class="col-sm-6">
        <h2>Send e-mail to:</h2>
        <form action="mailto:wdpecasmoto@gmail.com" method="post" enctype="text/plain">
            Name:
            <br>
            <input type="text" name="name"><br>
            E-mail:
            <br>
            <input type="text" name="mail"><br>
            Comment:
            <br>
            <input type="text" name="comment" ><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
        </div>
    <div class="col-sm-6">
        <p class="text-justify">
            <br><b>WDPecasmoto – Levantamento de Dados e Avanço com o Novo Projeto Empresarial</b>
            <br>
            <br>
            Na <b>WDPecasmoto</b>, temos o prazer de informar que estamos a realizar um levantamento de dados essencial para o desenvolvimento e avanço de um novo projeto empresarial. Esta fase de recolha de informações é uma etapa crucial para assegurar que o nosso projeto esteja alinhado com as necessidades e expectativas do mercado, permitindo-nos oferecer soluções mais inovadoras e eficientes aos nossos clientes.
        </p>
    </div>
    </div>
</div>
