<div class="container">
    <div class="row">
    <div class="col-sm-6">
        <p class="text-justify">
            <br><b>Não Encontrou a Peça da Sua Moto?</b>
            <br>
            Contacte-nos!
            <br><br>
            Na WDPeçasMoto, sabemos como pode ser frustrante não encontrar a peça certa para a sua moto. Se está à procura de peças específicas e não as encontrou, estamos aqui para ajudar!
            <br><br>
            Com uma vasta rede de fornecedores e uma equipa especializada, fazemos o possível para localizar qualquer peça, seja nova, usada ou de reposição. Nossa missão é garantir que a sua moto continue a funcionar perfeitamente, e, por isso, oferecemos um serviço de procura personalizado para atender às suas necessidades.
    </p>
    </div>
    <div class="col-sm-6"><img align="right" src ="main_page.jpg"  alt="Example Image" width="450" height="350"></div>
    
</div>
</div>